---
layout: default
---
<div class="home">
  <div class="section">
    <div class="width-wrapper">
      <h1 class="page-heading">Upcoming Meetups</h1>
      <ul class="post-list">
        {% for post in site.upcoming %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>
    </div>
    </div> <!-- Upcoming -->
    <div class="section">
      <div class="width-wrapper">
        <h1 class="page-heading">Past Meetups</h1>
        <ul class="post-list">
          {% for post in site.past %}
            <li>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </li>
          {% endfor %}
        </ul>
      </div>
      </div> <!-- Past -->
    </div>