<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="page-content">

      Speakers

      <div class="wrapper">
        <div class="container-fluid">
        {% for speaker_id in page.speakers %}
        {% capture modulo %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
        {% if modulo == '0' or forloop.first %}
          <div class="row">
          {% endif %}
          <div class=".col-md-6">
            {% assign speaker = ((site.data.speakers | where:"id", speaker_id) | first) %}
            {{ speaker.description | markdownify }}
            <img src="{{site.baseurl}}/{{speaker.photo}}">
          </div>
          {% if modulo == '1' or forloop.last %}
            </div> <!-- /Row -->
          {% endif %}
        {% endfor %}
      </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>